body {
    background-color: lightblue;
    padding: 0;
    margin-top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
}

nav {
    width: 100vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

li {
    position: relative;
    padding: 0 20px;
    height: 100%;
    display: flex;
}

a {
    z-index: 1;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 5px;
}

a:hover {
    color: white;
    text-decoration: none;
}

li:before {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: steelblue;
    right: 0;
    z-index: 0;
    top: 33.33%;
    transition: all 0.5s;
}

li:after {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: steelblue;
    left: 0;
    z-index: 0;
    bottom: 0;
    transition: all 0.5s;
}

a:before {
    position: absolute;
    content: "";
    height: 33.33%;
    width: 0;
    background-color: steelblue;
    bottom: 66.66%;
    left: 0;
    transition: all 0.5s;
}

li:hover:before,
li:hover:after,
li:hover a:before {
    width: 100%;
}