img {
    width: 30%;
    height: 300px;
    float: left;
    margin: 1.66%;
}

h1 {
    font-size: 30px;
    font-family: Playfair Display;
    border-bottom: 2px solid yellow;
    width: 30%;
    margin-left: 1.66%;
    padding-bottom: 20px;
    text-transform: uppercase;
    padding-top: 10px;
}