body {
    padding-top: 70px;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-expand-lg {
    background: #2c3e50;
}

.jumbotron {
    color: #2c3e50;
    background: #ecf0f1;
}